.skills {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: 6px;
  }

  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 15px 0;

    .icons {
      border-radius: 16px;
      border-width: 4px;
      border-color: rgb(163 163 163);
      border-style: solid;
      padding: 16px;

      .icon {
        font-size: 72px;
        line-height: 1;
      }
    }
  }
}
