.navbar {
  height: 100px;
  

  .wrapper {
    width: 1024px;
    margin: 0 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    
  }

  .navbar-name {
    font-family: "Arimo", sans-serif;
    font-weight: 700;
  }

  .social {
    display: flex;
    gap: 20px;

    img {
      width: 18px;
      height: 18px;
      background-color: white;
      border-radius: 4px;
    }
  }
}
